<div class="container-cards">
  <div *ngFor="let volunteer of VOLUNTEERS; trackBy: trackVolunteerId">
    <mat-card class="card-volunteer" appearance="outlined">

      <img mat-card-image [src]="volunteer.imagemUrl || 'assets/images/default-volunteer.jpg'" alt="Imagem do volunteer de {{volunteer.name}}" loading="lazy">

      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>{{ getVolunteerIcon(volunteer) }}</mat-icon>
        </div>
        
        <mat-card-subtitle>Name: {{ volunteer.name }}</mat-card-subtitle>
        <mat-card-subtitle>Email: {{ volunteer.email }}</mat-card-subtitle>
        <mat-card-subtitle>Phone: {{ volunteer.phone }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          Volunteer: {{volunteer.name}} is available at {{volunteer.email}} and can be contacted via phone at {{volunteer.phone}}.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button (click)="edit(volunteer)" aria-label="Edit volunteer">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="confirmRemove(volunteer)" aria-label="Remove volunteer">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
