div {
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  padding: 2%;
  padding-left: 20%;
  width: 100%;
}

h2 {
 text-align: center;
}

form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

mat-form-field {
  margin-bottom: 16px;
  width: 100%;
}

mat-label {
  color: #555;
}

mat-input, mat-select {
  font-size: 16px;
  padding: 8px 12px;
}

mat-select .mat-select-arrow {
  color: #00796b;
}

button {
  background-color: #3138a7;
  color: white;
  font-size: 16px;
  padding: 12px;
  margin-top: 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #000e4d;
}
