<div class="form-container">
  <form>
    <mat-form-field>
      <mat-label>Data de ocorrência</mat-label>
      <input matInput [(ngModel)]="desastre.dataDeOcorrencia" name="dataDeOcorrencia" placeholder="Data">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Duração em dias</mat-label>
      <input matInput [(ngModel)]="desastre.duracaoDias" name="duracaoDias" placeholder="Duração em dias">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Intensidade</mat-label>
      <input matInput [(ngModel)]="desastre.intensidadeEscala" name="intensidadeEscala" placeholder="Intensidade 0 - 10">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Quantidade de Vítimas</mat-label>
      <input matInput [(ngModel)]="desastre.qtdVitimas" name="qtdVitimas" placeholder="Quantidade de vítimas">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select [(ngModel)]="desastre.tipo" name="tipo">
        <mat-option value="enxurrada">Enxurrada</mat-option>
        <mat-option value="deslizamento">Deslizamento</mat-option>
        <mat-option value="incendio">Incêndio</mat-option>
        <mat-option value="seca">Seca</mat-option>
        <mat-option value="inundacao">Inundação</mat-option>
        <mat-option value="vendaval">Vendaval</mat-option>
        <mat-option value="granizo">Granizo</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Região</mat-label>
      <mat-select [(ngModel)]="desastre.regiao" name="regiao" multiple>
        <mat-option value="norte">Norte</mat-option>
        <mat-option value="sul">Sul</mat-option>
        <mat-option value="nordeste">Nordeste</mat-option>
        <mat-option value="sudeste">Sudeste</mat-option>
        <mat-option value="centroOeste">Centro-Oeste</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Link de Imagem</mat-label>
      <input matInput [(ngModel)]="desastre.imagemUrl" name="imagemUrl" placeholder="Link Imagem">
    </mat-form-field>
  
    <button mat-raised-button (click)="cadastrarOuAtualizar()">{{nomeBotaoAcao}}</button>
  </form>
  
</div>
