<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster System - Origin</title>
</head>

<body>
    <div class="container">
        <h1>The Origin of the Disaster System</h1>
        <div class="highlight">
            <p>According to CNN Brasil, "1,161 disaster events were recorded, with 716 associated with hydrological events, such as river overflow, and 445 of geological origin, such as landslides. On average, at least three disasters were recorded per day."</p>
        </div>
        <p>Given the occurrence of these natural disasters, it is crucial to have a computerized system to control and manage victims, available resources, and rescue agencies, as well as to facilitate the coordination of volunteers and associated shelters.</p>
        <p>In response to this issue, a pair of programmers decided to create the <strong>Disaster System</strong> to assist and support victims, donors, and researchers.</p>
    </div>

   
</body>

</html>
