<main class="content mt-24">
  <!-- Cabeçalho -->
  <div class="header">
    <div class="header-text">Bem-vindo aEstante Encantada!</div>
  </div>

  <!-- Seção Hero -->
  <div class="hero">
    <h1>Descubra Obras que Marcam Gerações</h1>
    <p>Explore diferentes gêneros, autores renomados e novas promessas da literatura.</p>
    <button mat-raised-button color="primary" class="btn">Comece a Explorar</button>
  </div>

  <!-- Conteúdo Principal -->
  <div class="content">
    <p>
      Nossa plataforma é o ponto de encontro para apaixonados por livros. Oferecemos recomendações personalizadas, resenhas sinceras e detalhes sobre milhares de obras literárias.
    </p>
    <p>
      Seja você um leitor experiente ou alguém procurando a próxima leitura marcante, aqui você encontrará inspiração. Participe da nossa comunidade e compartilhe suas opiniões, descubra novos autores e ajude outros leitores a encontrar grandes histórias.
    </p>
    <p>
      Cadastre-se para montar sua estante virtual, avaliar obras, seguir autores favoritos e participar de clubes de leitura e sorteios exclusivos!
    </p>
  </div>

  <!-- Notícias e Recomendações -->
  <div class="news-recommendations">
    <!-- Seção de Notícias Literárias -->
    <h2>Notícias Literárias</h2>
    <section class="news-section">
      <div *ngFor="let noticia of noticias" class="news-card">
        <h3><a [href]="noticia.link" target="_blank">{{ noticia.titulo }}</a></h3>
        <p>{{ noticia.description }}</p>
        <small>{{ noticia.data }}</small>
      </div>
    </section>

    <!-- Seção de Leituras Recomendadas -->
    <h2>Leituras Recomendadas</h2>
    <section class="recommendations-section">
      <div *ngFor="let indicacao of indicacoes" class="recommendation-card">
        <img [src]="indicacao.img" alt="Capa do livro recomendado">
        <h3><a [href]="indicacao.link" target="_blank">{{ indicacao.title }}</a></h3>
        <p>{{ indicacao.description }}</p>
      </div>
    </section>
  </div>
</main>
