html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .conteudo {
    flex-grow: 1;
    display: flex;
  }
  
  app-sidebar {
    width: 250px;
    flex-shrink: 0;
  }

  .conteudo-container {
    flex: 1;
    padding: 20px;
  }
  
  