<footer id="about" class="footer">
    <div class="container">
        <!-- Seção Sobre Nós -->
        <div class="footer-section">
            <h3>About bibliOn</h3>
            <p>We're a passionate community that connects readers and promotes access to books and literary experiences.</p>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

        <!-- Seção Compartilhe Sua Leitura -->
        <div class="footer-section">
            <div class="testimony">
                <h3>Share your reading</h3>
                <a href="#"><i class="fa-solid fa-book-open-reader"></i></a>
            </div>
            <p>Your impressions matter! Share your reviews and help other readers discover new worlds.</p>
        </div>

        <!-- Seção Apoie o Projeto -->
        <div class="footer-section">
            <div class="donation">
                <h3>Support bibliOn</h3>
                <a href="#support"><i class="fa-solid fa-hand-holding-heart"></i></a>
            </div>
            <p>Help us expand access to books and empower readers through your support.</p>
        </div>

        <!-- Logo -->
        <div class="footer-logo">
            <img src="assets/img/biblion-logo.png" alt="bibliOn Logo">
            <p>&copy; 2025 bibliOn. All Rights Reserved.</p>
        </div>
    </div>
</footer>
